* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../images/bg_main.png);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
/* navition bar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px 5px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 20;
  transition: all 0.15s;
}
.nav,
ul ul {
  background: #e6e6e6;
  /* background: #f2f3f4; */
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.315);
}
.logo img {
  width: 120px;
  padding: 10px;
  cursor: pointer;
}
.logo img:hover,
.menu ul li:hover {
  background: #fff;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  color: black;
}
ul li {
  cursor: pointer;
  list-style-type: none;
  padding: 15px 10px;
  position: relative;
}
li a {
  color: black;
}
li i {
  padding-right: 5px;
}

ul ul {
  position: absolute;
  opacity: 0;
  display: block;
  flex-direction: column;
  /* background: #cacaca; */
  padding: 5px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  pointer-events: none;
  transition: all 0.5s;
}
.uname:hover ul {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  display: none;
  pointer-events: none;
}

/* reservation styles ----------------------------*/
.container {
  display: flex;
  justify-content: space-between;
  background: #bbbbbb3f;
  /* padding: 25px 100px; */
}
.side-bar {
  background: #e4dddd;
  width: 250px;
  /* height: 300px; */
  /* right: 60px; */
  /* margin-top: 50px;
  margin-bottom: 100px; */
  position: fixed;
  top: 70px;
  bottom: 0;
  padding: 20px 10px;
  /* left: 20px; */
  /* height: 100px; */
}
.side-bar .title.active {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-bar .title {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.side-bar .title:hover {
  background: #fff;
}

.destination {
  /* height: 83vh; */
  background: #ffffff;
  padding: 30px;
  width: 82%;
  margin-left: 18.8%;
}
.destination .title p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.destination .img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.img {
  background: lightblue;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}
.img img {
  object-fit: cover;
  width: 100%;
  object-position: center;
  transition: all 0.2s;
}
.img img:hover {
  scale: 1.1;
}
.destination button {
  width: 300px;
  margin-left: 35%;
  background: rgb(25, 93, 238);
  color: white;
  border: none;
  padding: 5px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s;
}
.destination button:hover {
  opacity: 0.9;
}
.preview {
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  /* position: relative; */
  width: 750px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.342);
  transition: all 0.3s;
}
/* .preview .close {
  top: 20px;
} */
.preview.show {
  opacity: 1;
  pointer-events: auto;
  scale: 1;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff;
  background: #000;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 0.2s;
}

.slide.prev i {
  left: 20px;
}
.slide.next i {
  right: 20px;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000083;
  z-index: 30;
  position: absolute;
}
.card {
  position: fixed;
  width: 500px;
  background: white;
  z-index: 31;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  transition: all 2s;
}
.card .title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.title p {
  font-size: 18px;
  font-weight: 500;
}
.card form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}
form p,
label {
  font-weight: 500;
}
.detail-grid {
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 10px;
}
.detail-grid input {
  border: none;
  border-bottom: 1px solid rgb(167, 167, 167);
  outline: none;
}
.fee,
.date,
.ppl {
  display: flex;
}
.fee input {
  width: 143px;
  margin-left: 10px;
}
.ppl input {
  width: 110px;
  margin-left: 10px;
}
.from input {
  margin-left: 10px;
  width: 70%;
}
.to input {
  width: 70%;
  margin-left: 30px;
}
.card input[type="submit"] {
  grid-column: 1/3;
  width: 300px;
  margin-left: 80px;
  background: rgb(25, 93, 238);
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s;
}
.card input[type="submit"]:hover {
  opacity: 0.9;
}
.close {
  position: absolute;
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close:hover {
  background: rgb(146, 34, 34);
}
.hidden {
  display: none;
  pointer-events: none;
}
/* footer styles */

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  color: white;
  background: #000000a8;
}
.follow .details {
  display: grid;
  place-content: center;
}
.follow .details p {
  text-align: center;
  background: #000;
  margin-top: 5px;
  padding: 5px;
}

.error,
.msg {
  max-width: 100%;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0px;
  word-wrap: break-word;
  border: 1px solid #d1d1d1;
  display: none;
  border-radius: 5px;
}
.error {
  color: rgb(151, 27, 27);
  background-color: rgb(245, 207, 246);
}
.msg {
  color: rgb(13, 119, 13);
  background-color: rgb(172, 252, 214);
  font-weight: 500;
}
.msg.active,
.error.active {
  display: block;
}
.del-form {
  display: flex;
  justify-content: space-evenly;
}
.del-form button {
  padding: 5px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
  color: white;
}
.del-form button:hover {
  opacity: 0.9;
}
.cancel a {
  margin-left: 130px;
}
.no {
  background: rgb(25, 93, 238);
}
.yes {
  background: #8a2323;
}
