* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style-type: none;
}
body {
  background: url("../images/z-main-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background: #000;
  top: 0;
  padding: 15px 50px 5px;
  z-index: 10;
}
.left-section {
  width: 150px;
}
.left-section img {
  height: 35px;
  border: 1px solid white;
  padding: 5px 8px;
  cursor: pointer;
}
.middle-section {
  display: flex;
  flex: 1;
}
ul {
  display: flex;
  margin-right: 40px;
  flex-shrink: 0;
}
ul li a,
.right-section a {
  color: white;
  padding: 8px 20px;
  font-size: 22px;
}
ul li:hover,
.right-section p:hover {
  outline: white solid 1px;
}
.search-bar {
  display: flex;
  flex: 1;
  max-width: 500px;
  justify-content: space-between;
  position: relative;
}
.search-bar input {
  outline: none;
  width: 0;
  flex: 1;
  border: 1px solid #e7e7e7;
  font-size: 17px;
  padding: 0 5px;
  border-radius: 3px 0 0 3px;
}
.search-bar button {
  cursor: pointer;
  color: white;
  background: #942c0c;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 0 3px 3px 0;
}
.search-bar button:hover .search-bar .result {
  position: absolute;
  top: 35px;
  padding: 10px;
  width: calc(100% - 77px);
  background: #fff;
}
.search-bar .result div {
  z-index: 20;
  border-bottom: 1px solid #ccc;
}

.right-section {
  margin-left: 50px;
}
.right-section a {
  font-size: 14px;
}
.hidden {
  display: none;
}

/* content styles */
.hero {
  display: grid;
  place-content: center;
  height: 80vh;
  position: relative;
  grid-column: 1/6;
  margin-bottom: 40px;
}
.hero button {
  position: absolute;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  top: 75%;
  left: 30%;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  transition: all 0.15s ease;
}
.hero button:hover {
  color: #e9e063;
  background: #572424;
}
.main {
  background: white;
  padding: 20px 50px;
}
.des-header,
.side-bar .header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.side-bar .header {
  margin-bottom: 10px;
  font-size: 18px;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 100px);
  gap: 20px;
}
.side-bar {
  grid-column: 1/3;
  grid-row: 1/4;
  background: #cccccc;
  position: sticky;
  top: 100px;
  padding: 20px 0px;
  border-radius: 5px;
}
.side-bar a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #000;
  border-bottom: 1px solid #9b9b9b;
  transition: all 0.15s ease;
}
.side-bar a:hover {
  background: #000;
  color: white;
}
.side-bar img {
  height: 50px;
  margin-right: 10px;
}
:is(.big, .half-left, .half-right, .half-plus, .half-less) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
}
:is(.big, .half-left, .half-right, .half-plus, .half-less) {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
:is(.big, .half-left, .half-right, .half-plus, .half-less) {
}
.big {
  grid-row: 1/3;
  grid-column: 3/9;
}
.half-left {
  grid-row: 3/5;
  grid-column: 3/6;
}
.half-right {
  grid-row: 3/5;
  grid-column: 6/9;
}
.half-plus {
  grid-row: 5/6;
  grid-column: 3/7;
}
.half-less {
  grid-row: 5/6;
  grid-column: 7/9;
}
.a {
  border-radius: 5px;
  background: #000;
}
.b {
  background: #494747;
}
