* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../images/bg_main.png);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 15px;
}
/* navition bar styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 20;
  transition: all 0.15s;
}
.stick,
ul ul {
  background: #e6e6e6;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.315);
}
.logo img {
  width: 120px;
  padding: 10px;
  cursor: pointer;
}
.logo img:hover,
.menu ul li:hover {
  background: #ffffff;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  color: black;
}
ul li {
  cursor: pointer;
  list-style-type: none;
  padding: 15px 10px;
  position: relative;
}
li a {
  color: black;
}
li i {
  padding-right: 5px;
}

ul ul {
  position: absolute;
  opacity: 0;
  display: block;
  flex-direction: column;
  /* background: #cacaca; */
  padding: 5px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  pointer-events: none;
  transition: all 0.5s;
}
.uname:hover ul {
  opacity: 1;
  pointer-events: auto;
}
/* Hero section styles */
#hero {
  display: grid;
  place-content: center;
  overflow: hidden;
  height: 90vh;
}
#hero div p:nth-of-type(1) {
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
  color: #390000;
}
#hero div p:nth-of-type(2) {
  text-align: center;
  font-size: 30px;
  color: white;
}
.search-container {
  justify-content: center;
  max-width: 450px;
  margin: 20px auto;
  display: flex;
  position: relative;
}
.search-container input[type="text"] {
  flex: 1;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  outline: none;
}

.search-container input[type="submit"] {
  padding: 8px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(228, 95, 18);
  cursor: pointer;
}
.result {
  display: none;
  position: absolute;
  width: calc(100% - 62px);
  top: 37px;
  left: 0;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #bbbbbb95;
  word-wrap: break-word;
  overflow-y: auto;
  z-index: 105;
  max-height: 160px;
}
.result::-webkit-scrollbar {
  width: 0;
}
.result a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #818181;
  cursor: pointer;
  padding: 5px;
}
.result a:hover {
  color: #fff;
  background: #333;
}

/* best offers*/
.best-offer-container {
  padding: 50px 100px;
  background: #ccc;
}
.title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.offer {
  text-align: center;
  background-color: #f6dfb2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.259);
}
.offer:hover {
  scale: 1.1;
  background-color: white;
}
.offer .thumbnail img {
  height: 250px;
}
.offer-details {
  padding: 20px;
  color: rgb(105, 105, 105);
}
.offer-details p:nth-of-type(1) {
  font-weight: bold;
  color: black;
}
.offer .view {
  display: none;
  text-transform: uppercase;
  padding: 5px;
  position: absolute;
  top: 35%;
  left: 35%;
  color: white;
  background-color: rgba(0, 0, 0, 0.689);
}
.offer:hover .view {
  display: block;
}
.discount {
  display: grid;
  place-content: center;
  color: white;
  font-weight: 400;
  padding: 20px 3px;
  border-radius: 0 0 20px 20px;
  background-color: rgb(131, 80, 13);
  position: absolute;
  top: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.259);
  right: 30px;
}
/* popular destination styles */
.destinations {
  background-color: #efefef;
  padding: 50px 100px;
}
.destination-grid {
  display: grid;
  grid-template: repeat(2, 250px) / repeat(3, 1fr);
  gap: 20px;
}
.destination {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.destination:hover {
  scale: 1.03;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.331);
}
.destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.big {
  background-color: #006f85;
  grid-column: 1/3;
}
@media (max-width: 1037px) {
  .offers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .offer .view {
    font-size: 12px;
  }
}
@media (max-width: 660px) {
  .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .discount {
    padding: 15px 2px;
    right: 20px;
    font-size: 13px;
  }
  .offer .view {
    font-size: 12px;
  }
}
/* our services section styles */
.services {
  background: #f9f9f9;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.services .header {
  font-weight: bold;
  grid-column: 1/4;
  /* place-self: center; */
  font-size: 30px;
  margin-bottom: 15px;
}
.services .img {
  overflow: hidden;
  grid-column: 3/4;
  grid-row: 2/4;
}
.img img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 300px;
}
.service {
  display: grid;
  grid-template-columns: 90px 1fr;
  word-wrap: break-word;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: all 0.15s;
}
.service:hover {
  outline: black solid 1px;
  background: #f0f0f0;
}
.service img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(228, 95, 18);
  margin-right: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.205),
    0px -5px 10px rgba(0, 0, 0, 0.205);
}

.service .details .header {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}
/* footer styles */

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  color: white;
  background: #000000a8;
}
.follow .details {
  display: grid;
  place-content: center;
}
.follow .details p {
  text-align: center;
  background: #000;
  margin-top: 5px;
  padding: 5px;
}

/* overlay guys that'll popup after clicking an offer card*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000083;
  z-index: 30;
}
.card {
  position: relative;
  width: 500px;
  background: white;
  z-index: 31;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  transition: all 2s;
}
.card .title {
  text-align: center;
}

.card form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}
form p,
label {
  font-weight: 500;
}
.detail-grid {
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 10px;
}
.detail-grid input {
  border: none;
  border-bottom: 1px solid rgb(167, 167, 167);
  outline: none;
}
.fee,
.date,
.ppl {
  display: flex;
}
.fee input {
  width: 143px;
  margin-left: 10px;
}
.ppl input {
  width: 110px;
  margin-left: 10px;
}
.from input {
  margin-left: 10px;
  width: 70%;
}
.to input {
  width: 70%;
  margin-left: 30px;
}
.card input[type="submit"] {
  grid-column: 1/3;
  width: 300px;
  margin-left: 80px;
  background: #670b4b;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s;
}
.card input[type="submit"]:hover {
  opacity: 0.9;
}
.close {
  position: absolute;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close:hover {
  background: #474747;
}
.hidden {
  display: none;
  pointer-events: none;
}
